form {
    margin: 0 auto;
    width: 400px;
    padding: 0em;
    
  }

label {
    width: 90px;
   
}

input, textarea {
    font: 1em sans-serif;
    
    box-sizing: border-box;
    order: 1px solid #999;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}